<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hogwarts Home Page</title>
        <link rel="stylesheet" href="styles/stylebrowse.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>

        <header>
            <h1>Welcome <br>to Hogwarts!</h1>
        </header>

        <%- include("particles/navbar.ejs") %>

        <div id="shopitems">
            <div class="item"></div>
            <div class="spacing"></div>
            <div class="item"></div>
            <div class="spacing"></div>
            <div class="item"></div>
            <div class="spacing"></div>
            <div class="item"></div>
        </div>

    </body>
</html>