<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hogwarts Home Page</title>
        <link rel="stylesheet" href="styles/stylehouses.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>

        <header>
            <h1>Welcome <br>to Hogwarts!</h1>
        </header>

        <%- include("particles/navbar.ejs") %>

        <main>
            <div id="housequiz">

                <h3 id="questiontitle">Question 1</h3>
                <p id="questiontext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus itaque nostrum quibusdam? Odit, sed at!</p>
                <br>
                <div class="center">
                    <button id="option1">Option 1</button>
                    
                    <button id="option2">Option 2</button>
                    
                    <button id="option3">Option 3</button>
                </div>

            </div>
        </main>
        <script src="scripts/house.js"></script>
    </body>
</html>