<div id="navbar">
    <ul>
        <a href="/"><li>Home Page</li></a>
        <a href="/browse"><li>Browse</li></a>
        <a href="/about"><li>About us</li></a>
        <a href="/houses"><li>Houses</li></a>
        <a href="/apply"><li>Apply!</li></a>
    </ul>
</div>